<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <link href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" rel="stylesheet"/>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://unpkg.com/vue2-leaflet@1.0.1/dist/vue2-leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" rel="stylesheet" type="text/css"/>
    <style>
        html, body, #app {
            height: 100%;
            margin: 0;
        }
        .container {
            height: 600px;
            width: 40%;
        }
        nav {
            height: 180px;
            overflow: auto;
        }
    </style>
</head>
<body>

<div id="app">
    <div class="container">

        <div class="row">
            <div class="col-sm-4 ">
                <div>
                    <button class="btn btn-primary" type="button" v-on:click="action('marker')">
                        marker
                    </button>
                    <div>icon
                        <select v-model="nextMarker">
                            <option v-bind:value="icon.value" v-for="icon in options.icon">
                                {{ icon.text }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <br/>
            <div class="col-sm-4">
                <div>
                    <button class="btn btn-primary" type="button" v-on:click="action('polyline')">line</button>
                </div>
                <div>color
                    <select v-model="polyline[current.polyline].color">
                        <option v-bind:value="option.value" v-for="option in options.color">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
                <div>size
                    <select v-model="polyline[current.polyline].weight">
                        <option v-bind:value="option.value" v-for="option in options.weight">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
            </div>
            <br/>
            <div class="col-sm-4">
                <div>
                    <button class="btn btn-primary" type="button" v-on:click="action('polygon')">polygon</button>
                </div>
                <div>color
                    <select v-model="polygon[current.polygon].color">
                        <option v-bind:value="option.value" v-for="option in options.color">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
                <div>size
                    <select v-model="polygon[current.polygon].weight">
                        <option v-bind:value="option.value" v-for="option in options.weight">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary" type="button" v-on:click="action('save')">save</button>
            </div>
            <div class="well">
                list of created elements
            </div>
        </div>
        <nav>
            <ui>
                <li :key="listOfElements" v-for="(el,index) in listOfElements">
                    new {{el.type}} - {{el.index}} -
                    <div class="btn-group">
                        <button class="btn btn-primary" type="button"
                                v-on:click="deleteItem(el.type,index,el.data)">delete
                        </button>
                        <button class="btn btn-primary" type="button" v-on:click="editItem(el)">edit</button>
                    </div>
                </li>
            </ui>
        </nav>
        <div>
            edit points in object
            <nav>
                <ui>
                    <li :key="editedElement" v-for="(el,index) in editedElement.data.latlngs[0][0]">
                        point {{el}}  {{index}}
                        <button class="btn btn-primary" type="button"
                                v-on:click="editedElement.data.latlngs[0][0].splice(index,1)">delete
                        </button>
                    </li>
                </ui>
            </nav>
        </div>
    </div>

    <l-map :center="center" :zoom="zoom" @click="addPoint">
        <l-tile-layer :attribution="attribution" :url="url"></l-tile-layer>
        <l-marker :lat-lng="marker.latlng" v-for="marker in marker" :icon="marker.icon" ></l-marker>
        <l-polygon :color="s.color"
                   :lat-lngs="s.latlngs"
                   :weight="s.weight"
                   v-for="s in polygon">
        </l-polygon>
        <l-polyline :color="l.color"
                    :lat-lngs="l.latlngs"
                    :weight="l.weight"
                    v-for="l in polyline"></l-polyline>
    </l-map>
</div>
<script>

    var {
        LMap,
        LTileLayer,
        LMarker,
        LPolygon,
        LPolyline,
        LIcon
    } = Vue2Leaflet;

    new Vue({
        el: '#app',
        components: {
            LMap,
            LTileLayer,
            LMarker,
            LPolygon,
            LPolyline,
            LIcon
        },
        data() {
            return {
                zoom: 14,
                center: L.latLng(47.413220, -1.219482),
                url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                marker: [],
                nextMarker: L.icon({
                    iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                    iconSize: [32, 37],
                    iconAnchor: [16, 37]}),
                polygon: [{
                    color: 'red',
                    latlngs: [[[]]],
                    weight: 3,
                }],
                polyline: [{
                    latlngs: [[[]]],
                    color: 'red',
                    weight: 3
                }],
                operationType: "marker",
                listOfElements: [],
                editedElement: {type: '', index: {}, data:{latlngs:[[]]}},
                current: {polyline: 0, polygon: 0, marker: 0,inList:1},
                options: {
                    color: [
                        {text: 'green', value: 'green'},
                        {text: 'red', value: 'red'},
                        {text: 'blue', value: 'blue'}
                    ],
                    weight: [
                        {text: 's', value: '3'},
                        {text: 'm', value: '9'},
                        {text: 'l', value: '12'}
                    ],
                    icon: [
                        {text: 'green icon', value: L.icon({
                                iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                                iconSize: [32, 37],
                                iconAnchor: [16, 37]})},
                        {text: 'red icon', value: L.icon({
                                iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                                iconSize: [32, 37],
                                iconAnchor: [16, 37]})},
                        {text: 'blue icon', value: L.icon({
                                iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
                                iconSize: [32, 37],
                                iconAnchor: [16, 37]})}

                    ]
                },

            }
        },
        methods: {
            addPoint(event) {
                switch (this.operationType) {
                    case "marker":
                        this.marker.push({latlng:event.latlng,icon:this.nextMarker});
                        this.current.marker = this.marker.length - 1
                        this.listOfElements.push({type: 'marker', data: this.marker[this.marker.length - 1],index:this.current.inList})
                        this.current.inList +=1
                        break;
                    case "polyline":
                        this.polyline[this.polyline.length - 1].latlngs[0][0].push(event.latlng);
                        break;
                    case "polygon":
                        this.polygon[this.polygon.length - 1].latlngs[0][0].push(event.latlng);
                        break;
                    case "edit":
                        this[this.editedElement.type][this.editedElement.index].latlngs[0][0].push(event.latlng);
                        break;
                    case "edit marker":
                        this.marker.splice(this.current.marker, 1, {latlng:event.latlng,icon:this.nextMarker })
                        break;
                }
            },
            action: function (message) {
                if (this.operationType === 'polyline' || this.operationType === 'polygon') {
                    this.listOfElements.push({
                        type: this.operationType,
                        data: this[this.operationType][this[this.operationType].length - 1],
                        index:this.current.inList
                    })
                    this[this.operationType].push({
                        latlngs: [[[]]],
                        color: 'red',
                        weight: 3
                    });
                    this.current[this.operationType] = this[this.operationType].length - 1
                    this.current.inList +=1
                }
                this.editedElement =   {type: '', index: {}, data:{latlngs:[[]]}}
                this.operationType = message

            },
            editItem: function (element) {
                switch (element.type) {
                    case "marker":
                        this.operationType = 'edit marker'
                        this.current[element.type] = this[element.type].indexOf(element.data)
                        break;
                    default:
                        this.operationType = 'edit'
                        this.current[element.type] = this[element.type].indexOf(element.data)
                        this.editedElement = {type: element.type, index: this[element.type].indexOf(element.data), data:element.data};
                        break;
                }
            },
            deleteItem: function (type, listIndex, data) {
                this.listOfElements.splice(listIndex, 1)
                this.current[type] = this[type].length - 2
                this[type].remove(data);
            },
        }
    });
    Array.prototype.remove = function () {
        var what, a = arguments, L = a.length, ax;
        while (L && this.length) {
            what = a[--L];
            while ((ax = this.indexOf(what)) !== -1) {
                this.splice(ax, 1);
            }
        }
        return this;
    };

</script>
</body>
</html>